[submodule "2.Hello_world/3.starting_proj/greeting"]
	path = 2.Hello_world/3.starting_proj/greeting
	url = https://github.com/acnq/greetings
[submodule "2.Hello_world/4.small_cat/feline"]
	path = 2.Hello_world/4.small_cat/feline
	url = https://github.com/acnq/feline
[submodule "2.Hello_world/4.small_cat/feline2"]
	path = 2.Hello_world/4.small_cat/feline2
	url = https://github.com/acnq/feline2
[submodule "2.Hello_world/5.add_conv/feline3"]
	path = 2.Hello_world/5.add_conv/feline3
	url = https://github.com/acnq/feline3
